# Build artifacts
coverage.out
*.test
*.out
arcp

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
*.swp
.DS_Store

# Go workspace (if introduced later)
go.work
go.work.sum
